/* Roboto Medium font */
@font-face {
  src: url(fonts/Roboto/Roboto-medium.ttf);
  font-family: roboto-medium;
}

/* Oswald Regular font */
@font-face {
  src: url(fonts/Oswald/static/Oswald-Regular.ttf);
  font-family: oswald-regular;
}

/* Styling for body */
body {
  background-color: rgb(41, 39, 39);
  color: white;
  text-align: center;
  font-family: oswald-regular;
}

/* Styling for h1 */
h1 {
  font-size: 50px;
  text-shadow: 3px 3px black;
  margin: 30px 0 0;
}

/* Styling for expense total label */
.total {
  font-size: 40px;
  text-shadow: 3px 3px black;
  margin: 10px 0px;
}

/* Styling for expense total */
#expense-total {
  color: rgb(26, 199, 26);
}

/* Styling for input labels */
.input-forms {
  font-size: 25px;
  text-shadow: 3px 3px black;
}

/* Styling for input forms */
.expense-input {
  background-color: rgb(224, 222, 222);
  width: 180px;
  height: 15px;
  position: relative;
  top: -3px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  font-family: roboto-medium;
  outline: none;
  border: none;
  border-radius: 8px;
}

/* Removes inc/dec buttons on number input form */
input[type=number]{
  -moz-appearance: textfield;
}

/* Styling for submit button */
#submit {
  background-color: rgb(63, 109, 201);
  color: white;
  width: 190px;
  height: 40px;
  margin: 5px 0;
  line-height: 0px;
  font-size: 25px;
  font-family: oswald-regular;
  border: none;
  border-radius: 15px;
}

#submit:hover {
  background-color: rgb(49, 91, 176);
}

/* Styling for sort menu div */
.sort {
  margin-top: 5px;
  font-size: 25px;
}

/* Styling for sort menu */
.sort select {
  width: 180px;
  height: 35px;
  position: relative;
  top: 2px;
  line-height: 0px;
  font-size: 20px;
  font-family: oswald-regular;
}

/* Styling for table */
table {
  margin-top: 20px;
  width: 100%;
  table-layout: fixed;
}

/* Styling for table row */
tr {
  font-size: 23px;
}

tr:nth-child(even) {
  background-color: #473f3f;
}

/* Styling for table header */
th {
  font-size: 22px;
  text-shadow: 3px 3px black;
}

/* Styling for table data and header */
td, th {
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
}

/* Styling for table elements */
td, th, tr, table {
  border: 0; 
  border-spacing: 0;
}

/* Styling for edit and delete buttons */
.entryBtn {
  background-color:rgb(59, 55, 55);
  color: white;
  width: 42px;
  height: 30px;
  font-size: 14px;
  font-family: oswald-regular;
  border: none;
  border-radius: 7px;
}

.entryBtn:hover {
  background-color: white;
  color: rgb(59, 55, 55);
}

/* Style for date input forms for edited entries */
.edited{
  width: 95px;
  height: 30px;
  font-size: 10px;
}

/* Styling for different widths */
@media only screen and (min-width: 800px) {
  /* Styling for h1 */
  h1 {
    font-size: 70px;
    margin: 20px 0 0;
  }

  /* Styling for expense total label */
  .total {
    font-size: 60px;
    margin: 0px 0;
  }

  /* Styling for input forms */
  .input-forms {
    font-size: 35px;
  }

  .expense-input {
    top: -5px;
  }

  /* Styling for submit button */
  #submit {
    width: 235px;
    height: 50px;
    margin: 5px 0;
    font-size: 30px;
  }

  /* Styling for sort menu */
  .sort {
    margin-top: 5px;
    font-size: 35px;
  }

  .sort select {
    width: 200px;
    height: 45px;
    top: -2px;
    font-size: 25px;
  }
  
  /* Wraps table to max size of 650px */
  .tableWrapper {
    margin: 0 auto;
    width: 650px;
  }

  /* Styling for table row */
  tr {
    font-size: 31px;
  }

  /* Styling for table header */
  th {
    font-size: 34px;
  }
  
  /* Styling for table data and header */
  td, th {
    text-align: center;
  }

  /* Styling for edit and delete buttons */
  .entryBtn {
    width: 50px;
    height: 35px;
    font-size: 18px;
    position: relative;
    top: -6px;
  }

  /* Style for date input forms for edited entries */
  .edited{
    width: 120px;
    height: 40px;
    font-size: 14px;
    position: relative;
    top: -6px;
  }
}

@media only screen and (min-width: 1280px) {
  /* Styling for input forms */
  .input-forms {
    margin: 30px 0px 20px;
  }

  .input-child {
    display: inline-block;
  }

  /* Styling for input forms */
  .expense-input {
    height: 25px;
    font-size: 24px;
  }

  /* Styling for submit button */
  #submit {
    width: 300px;
    height: 60px;
    font-size: 40px;
    margin-bottom: 25px;
  }

  /* Wraps table to max size of 900px */
  .tableWrapper {
    width: 900px;
  }

  .entryBtn {
    width: 80px;
    height: 35px;
    font-size: 21px;
    position: relative;
    top: -6px;
  }
}